@import 'tailwindcss';

/* Root Styles */
:root {
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  --font-league: 'League Spartan', sans-serif;
}

.contain {
  @apply container mx-auto;
}

h1 {
  @apply [font-family:var(--font-jakarta)] font-extrabold text-4xl sm:text-5xl lg:text-6xl;
}

h2 {
  @apply [font-family:var(--font-jakarta)] font-extrabold text-4xl lg:text-5xl;
}

p {
  font-family: var(--font-league);
}

.about-bg-main {
  @apply bg-no-repeat bg-cover h-[300px];
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/about-bg.svg');
  background-position: 50%;
  background-size: cover;
  background-color: #d3d3d3;
}
.become-tutor-bg-main {
  background: linear-gradient(270deg, rgba(81, 131, 244, 0), rgba(81, 131, 244, 0.2)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/tutor-main-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #d3d3d3;
  min-height: 550px;
  background-size: cover;
}

/* ____________________________ */
/* Common Classes */

.common-auth-container {
  @apply flex flex-col gap-[24px] md:max-w-[424px] mx-auto mt-[100px] px-[16px];
}

/* ____________________________*/
/* ant design override */
.ant-select-arrow {
  @apply hidden invisible;
}

:where(.css-dev-only-do-not-override-7t2xvq).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  @apply border-0;
}

.ant-select-selection-item {
  @apply text-[#B1B1B1] text-base sm:text-xl;
}

:where(.css-dev-only-do-not-override-7t2xvq).ant-flex-align-flex-start {
  @apply items-center;
}

:where(.css-dev-only-do-not-override-7t2xvq).ant-otp .ant-otp-input {
  @apply w-[40px] sm:w-[64px] border-0 border-b-1 border-[#B1B1B1] rounded-none font-medium text-3xl sm:text-5xl [font-family:var(--font-jakarta)] text-[#181A20];
}

:where(.css-dev-only-do-not-override-7t2xvq).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-7t2xvq).ant-input-outlined:focus-within {
  @apply shadow-none;
}
.ant-select-focused:where(.css-dev-only-do-not-override-7t2xvq).ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  @apply shadow-none;
}

:where(.css-dev-only-do-not-override-7t2xvq).ant-btn-variant-outlined,
:where(.css-dev-only-do-not-override-7t2xvq).ant-btn-variant-dashed {
  @apply border-transparent;
}
:where(.css-dev-only-do-not-override-7t2xvq).ant-btn-color-default {
  @apply shadow-none;
}
:where(.css-dev-only-do-not-override-7t2xvq).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-7t2xvq).ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  @apply border-transparent text-[#181A20];
}
:where(.css-dev-only-do-not-override-7t2xvq).ant-btn {
  @apply p-0;
}
.ant-drawer-header {
  @apply pr-[24px]! pl-[24px]!;
}
:where(.css-dev-only-do-not-override-7t2xvq).ant-select {
  @apply overflow-hidden;
}

.ant-dropdown-menu-submenu-title-active {
  @apply bg-[#EBF5FE];
}
.ant-drawer-extra {
  @apply flex;
}
.ant-drawer-extra {
  @apply w-full;
}
.ant-drawer-header-title {
  @apply hidden!;
}

:where(.css-dev-only-do-not-override-7t2xvq).ant-drawer .ant-drawer-header {
  @apply border-b-0;
}
:where(.css-dev-only-do-not-override-7t2xvq).ant-divider {
  @apply text-[#B1B1B1];
}

:where(.css-dev-only-do-not-override-7t2xvq).ant-divider-horizontal {
  @apply my-[12px]!;
}

/* custom announcement section wrapper */
:where(.css-dev-only-do-not-override-7t2xvq).ant-space-gap-col-small {
  @apply gap-[15px] xl:gap-[24px];
}
.custom-announcement-collapse {
  @apply border-none;
}
.custom-announcement-collapse > .ant-collapse-item > .ant-collapse-header {
  @apply h-[120px] rounded-r-[10px] rounded-l-[0px] shadow-[0_4px_50px_0_rgba(0,117,225,0.08)]
    bg-white flex flex-row-reverse justify-between items-center font-medium
    text-base md:text-xl xl:text-3xl text-[#181A20] ml-[100px];
}
.custom-announcement-collapse .ant-collapse-arrow svg {
  @apply text-[#5183F4] w-[2em] h-[2em] rotate-90;
}
.custom-collapse .ant-collapse-item-active svg {
  @apply rotate-180;
}
.custom-announcement-collapse .ant-collapse-content {
  @apply font-normal text-lg xl:text-xl text-[#717171];
}
.custom-announcement-collapse > .ant-collapse-item:last-child > .ant-collapse-content {
  @apply border-none;
}
:where(.custom-announcement-collapse).ant-space-gap-col-small {
  @apply gap-[15px] xl:gap-[24px];
}

/* custom faq section wrapper */
.custom-tutor-faq .ant-space {
  @apply w-full;
}
.custom-faq-collapse > .ant-collapse-item > .ant-collapse-header {
  @apply lg:h-[66px] bg-[#EBF5FE] flex flex-row-reverse justify-between items-center font-medium
    text-base md:text-xl xl:text-3xl text-[#181A20] rounded-[10px]! p-[15px];
}
.custom-faq-collapse > .ant-collapse-item:last-child > .ant-collapse-content {
  @apply border-none;
}
.custom-faq-collapse {
  @apply border-none;
}
.custom-faq-collapse .ant-collapse-arrow svg {
  @apply bg-[#5183F4] text-white! w-[2em] h-[2em] p-1 rotate-90 rounded-[100px];
}
.custom-collapse .ant-collapse-item-active svg {
  @apply rotate-180;
}

/* custom blog section wrapper */
.slider-style-for-blog-section .swiper-pagination-fraction,
.slider-style-for-blog-section .swiper-pagination-custom,
.slider-style-for-blog-section .swiper-horizontal > .swiper-pagination-bullets,
.slider-style-for-blog-section .swiper-pagination-bullets.swiper-pagination-horizontal {
  @apply top-[-18.8%]! right-7!;
}
.slider-style-for-blog-section .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.slider-style-for-blog-section
  .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  @apply left-[95%]! w-[53px]! overflow-hidden;
}

/* custom testimonial setion wrapper */
.slider-style-for-testimonial-section .swiper-pagination-fraction,
.slider-style-for-testimonial-section .swiper-pagination-custom,
.slider-style-for-testimonial-section .swiper-horizontal > .swiper-pagination-bullets,
.slider-style-for-testimonial-section .swiper-pagination-bullets.swiper-pagination-horizontal {
  @apply bottom-[-10%]! right-5!  hidden md:block;
}
.slider-style-for-testimonial-section .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.slider-style-for-testimonial-section
  .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  @apply left-[50%]! w-[70px]! overflow-hidden;
}

/* ANT design radio override */

.ant-radio-button-wrapper {
  @apply h-[90px] w-full md:w-[114px] py-[14px] px-[10px] border-[2px] rounded-[10px]! border-l-[2px] border-white;
}
.ant-radio-button-label {
  @apply flex flex-col justify-center items-center;
}

:where(.css-dev-only-do-not-override-7t2xvq).ant-radio-button-wrapper:not(:first-child)::before {
  @apply hidden;
}
:where(.css-dev-only-do-not-override-7t2xvq).ant-radio-group {
  @apply flex gap-[24px] flex-col md:flex-row;
}

/* ANT design checkbox override */
.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled) .ant-checkbox-inner,
.ant-checkbox:not(.ant-checkbox-disabled) .ant-checkbox-inner {
  @apply border-[#5183F4];
}
:where(.css-dev-only-do-not-override-7t2xvq).ant-checkbox .ant-checkbox-inner {
  @apply bg-[#EBF5FE];
}
.ant-checkbox-checked .ant-checkbox-inner{
  @apply bg-[#5183F4];
}
